* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	background: #204862;
}

h1 {
	color: #fff;
	text-align: center;;
}

.proyect {
    text-align: center;
}


h2 {
    text-align: center;
    padding: 15px 0px 0px 0px;
}

.form-register {
	width: 95%;
	max-width: 500px;
	margin: auto;
	background: #fff;
	border-radius: 7px;
}

.contenedor-inputs {
	padding:10px 30px;
	display: flex; /* para acomodar los inputs */
	flex-wrap: wrap; /* para que el contenido que no entre se valla hacia abajo */
	justify-content: space-between; /* para separar los inputs*/
}

input {
	margin-bottom: 15px;
	padding:15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}

.input-48 {
	width: 48%;
}

.input-100 {
	width: 100%;
}

#boton {
	
	color:#fff;
	margin: auto;
	cursor:pointer; /* para cuando pase el cursor pase algo */
	font-size: 15px;
}

#boton:active {
	transform: scale(1.05); /* para cuando de click se agrande un poco (efecto)*/
}